<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vbatis.test.mapper.UserMapper">
  <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
    insert into user (
      <trim suffixOverrides=",">
        <if test="password != null">password, </if>
        <if test="role != null and role.roleId != null">role_id, </if>
        <if test="email != null">email, </if>
        <if test="username != null">username, </if>
      </trim>
    ) values (
      <trim suffixOverrides=",">
        <if test="password != null">#{password}, </if>
        <if test="role != null and role.roleId != null">#{role.roleId}, </if>
        <if test="email != null">#{email}, </if>
        <if test="username != null">#{username}, </if>
      </trim>
    );
  </insert>
  <select id="findUserById" resultMap="com.vbatis.test.mapper.VCommonMapper.UserResult">
    select
      u.user_id as user_id,
      u.username as username,
      u.email as email
    from user as u
    <where>
      and user_id = #{id}
    </where>
    limit 1
  </select>
  <select id="findUserWithRoleById" resultMap="com.vbatis.test.mapper.VCommonMapper.UserResult">
    select
      u.user_id as user_id,
      u.username as username,
      u.email as email,
      r.role_id as r_role_id,
      r.role_name as r_role_name
    from user as u
    inner join role as r on r.role_id = u.role_id
    <where>
      and u.user_id = #{id}
    </where>
    limit 1
  </select>
  <select id="findUserWithPostsById" resultMap="com.vbatis.test.mapper.VCommonMapper.UserResult">
    select
      u.user_id as user_id,
      u.username as username,
      u.email as email,
      p.post_id as p_post_id,
      p.title as p_title
    from user as u
    left join post as p on p.author_id = u.user_id
    <where>
      and u.user_id = #{id}
    </where>
    order by p.post_id desc
  </select>
  <select id="findUserAndPostsAndAuthor" resultMap="com.vbatis.test.mapper.VCommonMapper.UserResult">
    select
      u.user_id as user_id,
      u.email as email,
      u.password as password,
      u.username as username,
      p.post_id as p_post_id,
      p.title as p_title,
      p.content as p_content,
      p.author_id as p_author_id,
      p_u.user_id as p_u_user_id,
      p_u.username as p_u_username,
      p_u.email as p_u_email,
      p_u.password as p_u_password
    from user as u
    left join post as p on p.author_id = u.user_id
    inner join user as p_u on p_u.user_id = p.author_id
    <where>
      and u.user_id = #{id}
    </where>
  </select>
</mapper>